/*----------------------------------------*/
/*  1.  accordion CSS
/*----------------------------------------*/

.adminpro-custon-design .panel{
	background:none;
	box-shadow:none;
}
.adminpro-custon-design .panel-default{
	border:none;
}
.adminpro-custon-design .panel-collapse .panel-body{
	border-top:none ;
}
.adminpro-custon-design .panel-heading{
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	background:#303030;
	color:#fff;
	font-size:20px;
	padding: 15px 20px;
}
.adminpro-custon-design .admin-panel-content{
	background:#03a9f4;
}
.adminpro-custon-design .admin-panel-content p{
	font-size:14px;
	color:#fff;
	line-height:24px;
}
.panel-group.adminpro-custon-design .accordion-head a:hover, .panel-group.adminpro-custon-design .accordion-head a:focus, .panel-group.adminpro-custon-design .accordion-head a:active{
	color:#03a9f4;
}
.panel-group.adminpro-custon-design{
	margin-bottom:30px;
}
.panel-group.adminpro-custon-design.adminpro-ad-mg-bt{
	margin-bottom:40px;
}
.admin-pro-accordion-wrap{
    background: #fff;
    padding: 20px;
}
.admin-pro-accordion-wrap .panel-group.adminpro-custon-design {
	margin-bottom:0px;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0px solid #ddd;
}
.admin-accordion-mg-bt-40{
	margin-bottom:40px;
}